<p id="notice"><%= notice %></p>

<p>
  <strong>Requester:</strong>
  <%= @request.requester_id %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @request.driver_id %>
</p>

<p>
  <strong>Source:</strong>
  <%= @request.source_id %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @request.destination_id %>
</p>

<p>
  <strong>Request status:</strong>
  <%= @request.request_status %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
