<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @ride.start_time %>
</p>

<p>
  <strong>Arrived time:</strong>
  <%= @ride.arrived_time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @ride.location %>
</p>

<p>
  <strong>Request:</strong>
  <%= @ride.request %>
</p>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
